.bg-container {
  background-color: #e4f9ef;
}

.nav {
  background-color: #aedbce;
  padding: 2% 2%;
}

.carousel-container {
  margin: 0 10%;
}

.carousel-container .carousel-inner {
  margin: 0 12%;
}


.carousel-container img {
  height: 50%;
}

.row.products-row {
  margin: 0 1.5%;
  padding: 0;
}

.products-row {
  margin: 0.5% 1%;
  align-items: center;
}

.products-row .product-card {
  background-color: #dad992;
  height: 22rem;
  width: 100%;
  margin: 2% -2.8%;
  border-radius: 2%;
  text-align: center;
  padding: 3% 3%;
}

.product-card img {
  height: 30%;
  width: 60%;

}

.product-card p {
  font-size: x-small;
}

.products-row button {
  height: fit-content;
  width: fit-content;
  padding: 4%;
  color: cornsilk;
  background-color: black;
  border-style: none;
  border-radius: 10%;
}

.products-row button:hover {
  color: black;
  background-color: #639397;
  border-width: 2px;
}

.row.second-row {
  margin: 0 1%;
}

#footer {
  text-align: center;
  width: 100%;
  background-color: #aedbce;
  padding: 3% 0;
}

footer a{
  text-decoration: none;
  color: black;

}
footer a p {
  font-size: inherit;
}

.footer-icon {
  color: black;
  margin: 2%;
}
.twitter {
  color: blue;
}
.insta {
  color: orange;
}
.fb {
  color: blue;
}
.desc {
  color: black;
  font-size: small;
}

.product-details{
  padding: 2%;
  text-align: center;
  font-family: 'Anek Latin', sans-serif;
}

.product-details h3,h4{
  text-align: center;
  margin: 3%;
}

.specs {
  text-align: left;
  margin: 1% 5%;
  border-style: groove;
  padding: 2% 5%;
  font-size: 20px;
  border-radius: 10px;
  background-color: #D3E4CD;
  color: black;
}

.product-details button {
  height: 6%;
  width: 10%;
  color: wheat;
  background-color: black;
  padding: 0.5%;
  font-size: 20px;
  margin: 5%;
  border-radius: 10px;
}

.dotted-line {
  border-width: 10px;
  width: 100px;
  height: 20px;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-style: dotted;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  color: #99A799;
  margin: 2% 45%;
  background-color: white;
}

.product-image{
  padding: 2% 3% 2% 6%;
}

.product-image img{
  height: 24%;
  width: 28%;
  margin: 2%;
  border-style: groove;
}

.card-image{
  background-image: none;
}

.order-col-text{
  padding: 5% 0 2% 0;
}

.order-col-button{
  padding: 5% 0 2% 0;
}

@media only screen and (max-width: 990px) {
    .order-col-text{
      padding: 6% 2% 2% 0;
    }
    .order-col-button{
      padding: 0 0 2% 0;
    }
}